body{
  font-family: "Tilt Neon", sans-serif;
}

.notification{
  color: rgb(0, 94, 128);
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

  
.error {
  color: red;

}
  
.success {
  color: green;

}


  .phonebook{
    margin: 0 auto;
    text-align: center;
    width: 80%;
    height: auto;
    background-color:darkcyan;
    padding: 50px 0px 50px 0px;
   
    
  }
  
  .listOfnames{
    list-style-type: none;
    text-align: left;
    width: 350px;
   
  }
  
  
  .addPersonDiv{
    display: flex;
    justify-content: center;
    
  }
  
  .addPerson{
    list-style-type: none;
    display: flex;
    text-align: left;
    width: 300px;
    margin-top: 5px;
  }
  
  .addPerson input {
    flex-grow: 1;
    margin-left: 10px;
  }
  
  .deleteButtons {
    flex-grow: 1;
    margin-left: 10px;
    width: 50px;
    height: 25px;
    background-color: rgb(199, 199, 199);
    font-weight: bold;
    border: 2px solid black;
    border-radius: 5px;
  
  }
  
  
  
  .buttons{
    width: 50px;
    height: 25px;
    background-color: rgb(199, 199, 199);
    font-weight: bold;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 5px;
  }
  